body{
    background-image: url(Stupa_Borobudur.jpg);
    background-size: cover;
}

.justify{
    background-image: url(avocado.jpg);
    color: blue;
    width: 700px;
    height: 500px;
    border: 2px solid red;
    margin: 0 auto;
}

.repeat{
    background-repeat: repeat-x;
    background-image: url(avocado.jpg);
    width: 700px;
    height: 500px;
    border: 2px solid red;
    margin: 0 auto;
}